<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="is_hostname">MTUDU-W7.na.ds.lexmark.com</value>
    <value name="is_identifier">045046f1-f9c5-43b4-bb0d-6180bd6832de</value>
    <value name="library_username"></value>
    <value name="library_url"></value>
  </record>
</IDataXMLCoder>
