<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="listeners" javaclass="com.wm.util.Values">
    <record name="HTTPListener@15006" javaclass="com.wm.util.Values">
      <number name="port" type="Integer">15006</number>
      <value name="protocol">HTTP</value>
      <value name="pkg">WmPRT</value>
      <value name="enabled">true</value>
      <value name="key">HTTPListener@15006</value>
      <value name="factoryKey">webMethods/HTTP</value>
      <value name="configURL">/WmRoot/configHTTP.dsp</value>
      <value name="provider">webMethods</value>
      <value name="listenerType">Regular</value>
      <null name="clientAuth"/>
      <value name="ssl">false</value>
      <value name="maxQueue">200</value>
      <value name="keepAliveTimeout">20000</value>
      <value name="internalPort">-1</value>
      <value name="curDelay">0</value>
      <value name="stepsize">10000</value>
      <value name="suspended">false</value>
    </record>
  </record>
  <record name="access" javaclass="com.wm.util.Values">
    <record name="HTTPListener@15006" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">exclude</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
          <value>wm.server:disconnect</value>
          <value>wm.server:ping</value>
          <value>wm.server:connect</value>
          <value>wm.prt.eforms:update</value>
          <value>wm.econtent.econtent:update</value>
        </list>
      </record>
      <value name="key">HTTPListener@15006</value>
    </record>
  </record>
</Values>
